{
  "swagger": "2.0",
  "info": {
    "title": "Budget Classifier - Bag of Words",
    "description": "ML-based budget categorization using bag of words model",
    "version": "1.0.0"
  },
  "host": "z3hkh83v-3001.use.devtunnels.ms",
  "basePath": "/",
  "schemes": ["https"],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "paths": {
    "/classify": {
      "post": {
        "summary": "Classify a transaction",
        "operationId": "ClassifyTransaction",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "merchant": { "type": "string" },
                "amount": { "type": "number" }
              },
              "required": ["merchant", "amount"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Classification result",
            "schema": {
              "type": "object",
              "properties": {
                "merchant": { "type": "string" },
                "amount": { "type": "number" },
                "prediction": { "type": "string" },
                "confidence": { "type": "number" },
                "matchType": { "type": "string" },
                "knownWords": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "word": { "type": "string" }
                    }
                  }
                },
                "unknownWords": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "word": { "type": "string" }
                    }
                  }
                },
                "reasoning": {
                  "type": "object",
                  "properties": {
                    "summary": { "type": "string" },
                    "matchType": { "type": "string" },
                    "model": { "type": "string" },
                    "vocabularyAnalysis": {
                      "type": "object",
                      "properties": {
                        "inputWords": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "word": { "type": "string" }
                            }
                          }
                        },
                        "knownWords": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "word": { "type": "string" }
                            }
                          }
                        },
                        "unknownWords": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "word": { "type": "string" }
                            }
                          }
                        },
                        "vocabularySize": { "type": "integer" },
                        "coveragePercent": { "type": "string" },
                        "note": { "type": "string" }
                      }
                    }
                  }
                },
                "alternatives": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "category": { "type": "string" },
                      "confidence": { "type": "number" }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/categories": {
      "get": {
        "summary": "Get all categories",
        "operationId": "GetCategories",
        "responses": {
          "200": {
            "description": "List of categories",
            "schema": {
              "type": "object",
              "properties": {
                "categories": {
                  "type": "array",
                  "items": { "type": "string" }
                }
              }
            }
          }
        }
      }
    },
    "/feedback": {
      "post": {
        "summary": "Submit correction feedback",
        "operationId": "SubmitFeedback",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "merchant": { "type": "string" },
                "amount": { "type": "number" },
                "category": { "type": "string" }
              },
              "required": ["merchant", "amount", "category"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Feedback result",
            "schema": {
              "type": "object",
              "properties": {
                "success": { "type": "boolean" },
                "totalCorrections": { "type": "integer" },
                "newCategory": { "type": "boolean" }
              }
            }
          }
        }
      }
    }
  }
}
